
body {
    display: flex;
    margin: 0px;
    justify-content: center;
    align-items: center;
}

.wrapper {
    position: relative;
    width: 900px;
    height: 800px;
    font-family: "Roboto";
    background-image: url(../images/pexels-aronvisuals-1643113.jpg);
    background-size: cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}




header {
    display: flex;
    width: 900px;
    height: 90px;
    left: 0px;
    top: 0px;
    line-height: 90px;
    background: rgba(237, 182, 251, 0.45);
    border-radius: 10px;
    align-items: center;
    text-align: center;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
    text-decoration: none;
}

.header {
    text-decoration: none;

}

h1 {
    width: 900px;
    height: 90px;
    left: 180px;
    top: 11px;
    font-weight: 400;
    font-size: 36px;
    line-height: 90px;
    align-items: center;
    text-align: center;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
    text-decoration: none;
}



main article {
    position: absolute;
    width: fit-content;
    height: fit-content;
    margin-left: 100px;
    margin-right: 100px;
    top: 119px;
    margin-top: 40px;
    text-align: center;
    background: rgba(237, 182, 251, 0.58);
    border-radius: 10px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

/*.button {
    position: absolute;
    width: 500px;
    height: 90px;
    left: 200px;
    margin-top: 200px;
    align-items: center;
    background: linear-gradient(90deg, #7A2582 0%, #A881AB 100%);
    border-radius: 10px;
    text-decoration: none;
}
*/

.buttons {
    display: flex;
    flex-direction: column;
    height: 500;
    width: 500px;
    margin-left: 200px;
    align-items: center;
    margin-top: 250px;
}

.button {
    flex: 1;
    width: 450px;
    left: 200px;
    padding: 20px;
    align-items: center;
    background: linear-gradient(90deg, #7A2582 0%, #A881AB 100%);
    margin: 15px;
    text-align: center;
    border-radius: 10px;
    color: white;
    text-shadow: 2px 2px 3px rgba(208, 203, 203, 0.7);
    text-decoration: none;

}

.button:hover {
    background: #A881AB;
}

footer {
    width: 900px;
    text-align: center;
    margin-bottom: 0px;
    padding: 0px;
    color: rgba( 255, 255, 255, 0.4);
    position: absolute;
    bottom: 0;
}

.games-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 90%;
    margin: 0 auto;
    height: fit-content;
    margin-top: 15px;
}

.game {
    background: rgba(237, 182, 251, 0.58);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    font-size: smaller;
    align-items: center;
}

.game img {
    width: 150px; 
    height: 100px;
    object-fit: cover;
    align-self: flex-start;
    margin: auto;
}


.caption {
    margin-top: 10px;
    align-self: flex-start;
}

.image-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.image-container img {
    width: 150px;
    height: 200px;
    object-fit: cover;
}

.description {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.description p {
    width: 150px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

.description a {
    color: #000000;
}

.description a:hover {
    color: #A881AB;
}

.container {
    display: flex;
    margin-top: 200px;
    width: 700px;
    margin-left: 100px;
}

.box {
    border-radius: 10px;
    width: 50%; 
    padding: 30px;
    box-sizing: border-box;
    background: rgba(237, 182, 251, 0.58);
}

.carousel {
    height: 200px;
    overflow: hidden;
    background: rgba(237, 182, 251, 0.58);
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

.carousel img {
    width: 100%;
    display: block;
}

.description {
    margin-top: 10px;
}

.prev-btn-one{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: rgb(248, 3, 207);
    font-size: xx-large;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease;
    margin-left: 30px;
    margin-top: 25px;
}
.next-btn-one {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: rgb(248, 3, 207);
    font-size: xx-large;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease;
    margin-left: 230px;
    margin-top: 25px;
}
.prev-btn-one:hover,
.next-btn-one:hover {
    color: #000000;
}

.prev-btn-two{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: rgb(248, 3, 207);
    font-size: xx-large;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease;
    margin-left: 30px;
    margin-top: 25px;
}
.next-btn-two {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: rgb(248, 3, 207);
    font-size: xx-large;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease;
    margin-left: 230px;
    margin-top: 25px;
}

.next-btn-two:hover,
.prev-btn-two:hover {
    color: #ffffff;
}
/* 
.button {
    position: absolute;
    width: 500px;
height: 90px;
left: 200px;
margin-top: 200px;
align-items: center;
text-align: center;
background: linear-gradient(90deg, #7A2582 0%, #A881AB 100%);
border-radius: 10px;
text-decoration: none;
}

